.btn-blue {
	background-color: #2EB086;
	padding: 15px 20px;
	border-radius: 4px;
	margin-right: 15px;
	color: white;
	font-weight: bold;
	font-family: 'Roboto', sans-serif;
}
.btn-blue:hover {
	background-color: black;
	color: white;
}







